body {
    background-color: #3c3c3c;
}

button {
    padding: 10px 15px;
}

.controls {
    background-color: #00000056;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 120px;
    width: 100vw;
    border: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#log {
    top: 10px;
    left: 50%;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.541);
    transform: translateX(-50%);
    top: 0;
    border: 0;
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 88px;
}

.toggler {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    border: none;
    border-radius: 50%;
    min-width: 55px;
    min-height: 55px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px 32px;
    margin: 0 30px;
    background-color: rgba(0, 0, 0, 0.267);
    cursor: pointer;
    transition: background-color 180ms ease-in-out;
}

.toggle-active {
    background-color: #1e97fae3;
}

#move-button{
    background-image: url("../img/move.png");
}

#rotate-button{
    background-image: url("../img/360.png");
}

#snap-button {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    background-image: url("../img/camera.svg");
    margin: 0 30px;
    border: none;
    background-size: 80px 80px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    min-width: 70px;
    min-height: 70px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 8px 10px rgba(0, 0, 0, 0.24);
    transition: box-shadow 80ms ease-in-out, transform 80ms ease-in-out, background-size 80ms ease-in;
    cursor: pointer;
}
#snap-button:active {
    transform: rotate(45deg);
    background-size: 85px 85px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.37);
}




#overlay {
    height: 100vh;
    width: 100vw;
    background-color: #000000b9;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 20;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 500ms linear;
}
.wrapper{
    width:200px;
    height:60px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
.circle{
    width:20px;
    height:20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left:15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle{
    0%{
        top:60px;
        height:5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40%{
        height:20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100%{
        top:0%;
    }
}
.circle:nth-child(2){
    left:45%;
    animation-delay: .2s;
}
.circle:nth-child(3){
    left:auto;
    right:15%;
    animation-delay: .3s;
}
.shadow{
    width:20px;
    height:4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top:62px;
    transform-origin: 50%;
    z-index: -1;
    left:15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow{
    0%{
        transform: scaleX(1.5);
    }
    40%{
        transform: scaleX(1);
        opacity: .7;
    }
    100%{
        transform: scaleX(.2);
        opacity: .4;
    }
}
.shadow:nth-child(4){
    left: 45%;
    animation-delay: .2s
}
.shadow:nth-child(5){
    left:auto;
    right:15%;
    animation-delay: .3s;
}
.wrapper span{
    position: absolute;
    top:75px;
    font-family: 'Lato';
    font-size: 20px;
    letter-spacing: 12px;
    color: #fff;
    left:15%;
}